
.vs/Sport Manager/v16/.suo
.vs/Sport Manager/v16/Browse.VC.db
.vs/Sport Manager/v16/ipch/AutoPCH/ac63ebd1a8ccb8b2/ERROR.ipch
.vs/Sport Manager/v16/ipch/AutoPCH/dd30fcdc5279fdf9/MAIN.ipch
src/packages/sqlite3_c_plus_plus.1.0.3/.signature.p7s
src/packages/sqlite3_c_plus_plus.1.0.3/build/configurations.autopkg
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/default-propertiesui.xml
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/include/sqlite3.h
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/include/sqlite3ext.h
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/Win32/v120/Debug/sqlite3.dll
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/Win32/v120/Debug/sqlite3.lib
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/Win32/v120/Release/sqlite3.lib
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/Win32/v120/Release/sqlite3.dll
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/Win32/v140/Debug/sqlite3.dll
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/Win32/v140/Debug/sqlite3.lib
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/Win32/v140/Release/sqlite3.lib
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/Win32/v140/Release/sqlite3.dll
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/x64/v120/Debug/sqlite3.dll
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/x64/v120/Debug/sqlite3.lib
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/x64/v120/Release/sqlite3.dll
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/x64/v120/Release/sqlite3.lib
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/x64/v140/Debug/sqlite3.dll
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/x64/v140/Debug/sqlite3.lib
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/x64/v140/Release/sqlite3.dll
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/lib/x64/v140/Release/sqlite3.lib
src/packages/sqlite3_c_plus_plus.1.0.3/build/native/sqlite3_c_plus_plus.targets
src/packages/sqlite3_c_plus_plus.1.0.3/build/publisher-info.txt
src/packages/sqlite3_c_plus_plus.1.0.3/sqlite3_c_plus_plus.1.0.3.nupkg
src/x64/Debug/qmake/qtvars_x64_Debug.props
src/.vs/Sport Manager/v16/ipch/AutoPCH/7165470beb2b8ab9/MAIN.ipch
src/.vs/Sport Manager/v16/Browse.VC.opendb
src/.vs/Sport Manager/v16/Browse.VC.db
src/.vs/Sport Manager/v16/.suo
